@import url("https://fonts.googleapis.com/css2?family=Onest:wght@500&family=Oswald:wght@500&display=swap");
// font-family: "Onest", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
// font-family: 'Bungee Shade', sans-serif;

$button-color: #52bbf5;
// $font-color: #000063;
$font-color: black;
$radar-color: #00ff77;
$main-bg: #0000e6;

.start-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;

    & > * {
        font-family: "Onest", sans-serif;
        color: $font-color;
        z-index: 3;
    }

    h1 {
        font-size: 100px;
        font-family: "Bungee Shade", sans-serif;
        transition: all 100ms ease-in-out;
        &:hover {
            transform: scale(1.02);
        }
    }

    .radar {
        z-index: 0;
        opacity: 0.4;
        height: 425px;
        width: 425px;
        position: absolute;
        border-radius: 50%;
        background-color: $radar-color;
        transform: rotate(-37deg);

        .inner1,
        .inner2,
        .inner3,
        .inner4,
        .inner5 {
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .inner1 {
            background-color: $main-bg;
            height: 75%;
            width: 75%;
        }
        .inner2 {
            background-color: $radar-color;
            height: 70%;
            width: 70%;
        }
        .inner3 {
            background-color: $main-bg;
            height: 50%;
            width: 50%;
        }
        .inner4 {
            background-color: $radar-color;
            height: 45%;
            width: 45%;
        }
        .inner5 {
            background-color: $main-bg;
            height: 10%;
            width: 10%;
        }

        .cutout {
            height: 50%;
            width: 50%;
            background-color: $main-bg;
            position: absolute;
            z-index: 1;
        }
    }

    .images-container {
        height: auto;
        width: auto;
        display: flex;
        gap: 10px;
        position: relative;

        img {
            // opacity: 0.6;
            z-index: 1;

            &.radar {
                z-index: 0;
                height: 650px;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &.fighter-jet {
                width: 100px;
                height: auto;
                position: absolute;
                &.one {
                    top: -20px;
                    left: 200px;
                }
                &.two {
                    top: 50px;
                    left: 480px;
                }
            }
            &.forward-ship {
                width: 350px;
                height: auto;
            }
            &.diagonal-ship {
                &.first {
                    width: 110px;
                }
                &.second {
                    width: 75px;
                }
            }
        }
    }

    .options-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .button-container {
            height: 175px;
            width: 500px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                text-align: center;
                font-size: 20px;
            }
            button {
                font-size: 35px;
                background-color: $button-color;
                padding: 10px 40px 10px 40px;
                border-radius: 25px;

                &:hover {
                    background-color: darken($button-color, 10%);
                }
            }
        }
    }
}
