@use "./reset.css";
@use "./_start-menu.scss";

$main-bg: #000082;

#root {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-color: $main-bg;
    display: flex;
    justify-content: center;
    align-items: center;
}
